.form {
    display: flex;
    justify-content: center;
  }
  
  .issue-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0.3125rem 0;
    padding: 0.25rem;
    width: 50rem;
  }
  
  .input-field {
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  #input-summary {
    border: 2px solid black;
    height: 7.5rem;
    padding-top: 0.5rem;
  }
  
  .dates {
    display: flex;
    font-size: 0.8rem;
    gap: 5px;
  }
  
  .label {
    font-size: 0.8rem;
    width: 6rem;
    margin: 1.2rem 0;
  }
  
  .date-select {
    font-size: 0.8rem;
  }
  
  .input-wrapper {
    display: block;
    border-radius: 5px;
    cursor: text;
  }
  
  .input-wrapper input {
    width: 100%;
  }
  
  .input-wrapper:focus-within {
    border-color: #007bff;
  }
  
  .add-button {
    font-size: 0.875rem;
    padding: 0.625rem;
    margin-bottom: 0.3125%;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .date-selected {
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  select .input-field{
    background: #049822;
    border-radius: 0.2rem;
    color: white;
  }